.hidden {
    display: none;
}
body {
    text-align: center;
}
.contents {
    margin: 100px 100px;
    background-color: rgba(0, 166, 255, 0.9); 
    max-height: 500px;
}
#weather {
    text-align: right;
    display: inline;
    background-color: rgba(0, 166, 255, 0.9); 
}
#clock {
    font-size: 100px;
}
.hello {
    font-family: 'Courier New', Courier, monospace;
}
.todo {
    font-family: 'Courier New', Courier, monospace;
}
#todo-list {
    list-style-type: none;
    padding-bottom: 100px;
}
#quote {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 166, 255, 0.9); 
    margin: 0px 100px;

}